## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [189]:
import pandas as pd

df = pd.read_csv("Resources/client_dataset.csv")
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [190]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [191]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [192]:
# Use this space to do any additional research
# and familiarize yourself with the data.
df.shape
df.head(10)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
5,Jessica,Reyes,"Production designer, theatre/television/film",5016915923,jessica.reyes@grimes.net,33615,1327730,2023-05-02,18,2023,BMB23158-88-9A,decor,plants,172.84,154.44,2.79,78,0
6,Brian,Moore,Barista,+1-893-400-2733x982,moore.official@martinez.com,87213,8080280,2023-04-19,16,2023,UAC50632-25-4E,consumables,kitchen supplies,245.56,231.95,1.73,56,5
7,Jesus,Wright,Theme park manager,605.947.9467x66513,wright.jesus.7579@meadows.com,46709,8946782,2023-02-14,7,2023,UEU25316-01-1U,consumables,pens,20.99,16.97,5.12,22,4
8,Rebecca,Brown,Chiropodist,665-955-0156x926,rbrown850@lewis.info,73362,9394118,2023-05-13,19,2023,DDA06248-98-7Z,consumables,paper products,83.86,59.00,0.27,49,3
9,Greg,Garcia,"Secretary, company",(231)342-7216x1421,ggarcia@bentley.biz,58789,9665852,2023-04-14,15,2023,DUU85042-87-5E,furniture,seating,66.88,54.15,2.47,78,1

In [193]:
# What three item categories had the most entries?
top_three_cat = df["category"].value_counts()
top_three_cat.head(3)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [194]:
# For the category with the most entries, which subcategory had the most entries?
top_category = df["category"].value_counts().index[0]
top_category = df[df["category"] == top_category]

top_subcategory = top_category["subcategory"].value_counts()
top_subcategory.head(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [195]:
# Which five clients had the most entries in the data?
top_clients = df["client_id"].value_counts()
top_clients.head(5)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [196]:
# Store the client ids of those top 5 clients in a list.
top_clients_list = top_clients.index.tolist()
top_clients_list

[33615,
 66037,
 46820,
 38378,
 24741,
 42481,
 71958,
 32500,
 49687,
 43607,
 84156,
 91091,
 62566,
 37715,
 41491,
 97876,
 80977,
 51869,
 84446,
 89110,
 29718,
 92201,
 78965,
 37542,
 21654,
 14935,
 95847,
 38473,
 48855,
 10520,
 29992,
 57574,
 49851,
 31715,
 16624,
 32597,
 10559,
 43361,
 79361,
 24007,
 35176,
 50202,
 79827,
 72892,
 18574,
 35794,
 16084,
 90851,
 49037,
 17699,
 37608,
 70745,
 38220,
 86106,
 57920,
 81150,
 34706,
 80857,
 10435,
 82075,
 21474,
 81576,
 49404,
 70029,
 65687,
 34507,
 55191,
 94675,
 33956,
 65748,
 58133,
 74559,
 32549,
 69528,
 33804,
 42550,
 41908,
 87612,
 31229,
 19405,
 85413,
 84344,
 71992,
 96954,
 28331,
 47078,
 82172,
 65819,
 79817,
 49058,
 86810,
 12286,
 34878,
 46709,
 73876,
 96736,
 62639,
 94136,
 46973,
 25119,
 61647,
 24485,
 25185,
 84432,
 44673,
 38192,
 77306,
 62992,
 19904,
 97124,
 26120,
 32240,
 10753,
 81012,
 47930,
 54350,
 56977,
 52678,
 73677,
 73362,
 53348,
 87985,
 26601,
 83686,
 22262,
 22952,
 44699,
 42460,
 61211,
 85152,
 24053,
 55696,
 86721,
 17697,
 65049,
 77184,
 71447,
 84710,
 10643,
 80875,
 17720,
 95108,
 37609,
 22008,
 34873,
 16982,
 92089,
 23919,
 67516,
 76418,
 76087,
 56523,
 34426,
 48410,
 85977,
 87213,
 88149,
 13482,
 76177,
 47507,
 54940,
 56590,
 81719,
 73156,
 34323,
 37214,
 47644,
 17254,
 66328,
 32156,
 52670,
 53409,
 30339,
 98302,
 95003,
 69260,
 49027,
 77340,
 86113,
 69327,
 18145,
 87125,
 91149,
 87473,
 81699,
 57295,
 61935,
 62135,
 40264,
 46191,
 98410,
 48554,
 20875,
 21134,
 13021,
 35902,
 20885,
 94752,
 52709,
 13010,
 93794,
 63691,
 66888,
 84354,
 22101,
 92173,
 68370,
 46363,
 75947,
 80508,
 25374,
 11436,
 30489,
 62227,
 92331,
 91973,
 78447,
 19326,
 93693,
 75118,
 72202,
 67252,
 81778,
 69074,
 99400,
 49457,
 48148,
 74058,
 51173,
 43576,
 40622,
 25114,
 41561,
 46804,
 31268,
 44969,
 49300,
 93818,
 64260,
 87506,
 83552,
 69671,
 25397,
 28011,
 44715,
 99231,
 80891,
 51367,
 86938,
 48540,
 47614,
 52841,
 54196,
 87226,
 78618,
 55336,
 22051,
 22772,
 72247,
 20333,
 18514,
 65084,
 90466,
 58400,
 39141,
 90703,
 29621,
 68577,
 50281,
 67860,
 18452,
 18092,
 12338,
 36531,
 86040,
 70995,
 90641,
 25936,
 32539,
 43968,
 50317,
 31558,
 21633,
 85931,
 51826,
 29906,
 28523,
 86045,
 34998,
 77354,
 11675,
 15536,
 39965,
 80975,
 22109,
 34514,
 64213,
 38158,
 60527,
 22833,
 44881,
 30369,
 54094,
 50088,
 15318,
 53305,
 26185,
 87975,
 79966,
 54596,
 37937,
 57496,
 88930,
 40457,
 91419,
 98475,
 61449,
 48723,
 33921,
 29043,
 92744,
 65486,
 54400,
 47752,
 74673,
 35348,
 89081,
 56645,
 36139,
 50111,
 28386,
 99736,
 21317,
 38626,
 16500,
 82891,
 24926,
 10351,
 20291,
 75662,
 36557,
 35900,
 59610,
 61603,
 94213,
 99060,
 16279,
 46897,
 73265,
 14557,
 39382,
 67877,
 58277,
 97577,
 71449,
 83981,
 32783,
 16710,
 67407,
 90654,
 89499,
 83448,
 27516,
 95119,
 65419,
 61382,
 65569,
 59765,
 39280,
 63780,
 99394,
 40749,
 38305,
 89324,
 15647,
 82386,
 38012,
 94174,
 62559,
 30367,
 58789,
 24502,
 17646,
 85139,
 46571,
 20793,
 12269,
 94786,
 59268,
 36023,
 18975,
 47496,
 62116,
 48342,
 46547,
 26564,
 61027,
 39613,
 29026,
 61559,
 97017,
 44849,
 13436,
 22670,
 94420,
 43090,
 79451,
 17355,
 29579,
 61084,
 94438,
 60955,
 31753,
 85720,
 99302,
 51158,
 33220,
 40214,
 61844,
 87132,
 41069,
 32698,
 13616,
 19467,
 66615,
 56274,
 79683,
 24236,
 99354,
 61161,
 24889,
 50002,
 91480,
 34847,
 78860,
 97794,
 23939,
 27302,
 82336,
 64194,
 55552,
 14881,
 90079,
 82931,
 72694,
 36284,
 49743,
 61058,
 22890,
 61110,
 64563,
 23041,
 47061,
 52885,
 43867,
 84878,
 57134,
 31279,
 30272,
 47153,
 52037,
 78733,
 97026,
 44795,
 86487,
 94475,
 37231,
 99973,
 61197,
 18800,
 54471,
 67852,
 11869,
 30026,
 58799,
 97623,
 98291,
 74112,
 83238,
 20849,
 73175,
 44807,
 40677,
 30827,
 46661,
 18074,
 35467,
 41738,
 79755,
 84535,
 68227,
 49451,
 63806,
 16974,
 11444,
 92057,
 77592,
 38167,
 34271,
 96713,
 53993,
 25639,
 19800,
 32232,
 57148,
 61560,
 37432,
 63354,
 92936,
 95944,
 88326,
 55914,
 56343,
 50377,
 69437,
 58515,
 82314,
 99043,
 88237,
 29940,
 22859,
 11890,
 16568,
 30509,
 41766,
 17002,
 31733,
 73153,
 38760,
 84429,
 81490,
 51839,
 67328,
 19062,
 44148,
 30994,
 94774,
 73797,
 61797,
 57283,
 79313,
 98561,
 27114,
 92721,
 88257,
 85369,
 85298,
 40610,
 15805,
 81912,
 87556,
 83646,
 51629,
 27617,
 74643,
 42298,
 88009,
 46554,
 88685,
 48013,
 27079,
 30306,
 62315,
 33367,
 36393,
 40835,
 48877,
 25942,
 25535,
 45395,
 65030,
 20820,
 29238,
 71600,
 57669,
 54740,
 12028,
 71188,
 69701,
 59566,
 35929,
 71981,
 93900,
 68464,
 79329,
 62380,
 81533,
 70781,
 74236,
 57762,
 74159,
 55398,
 91809,
 99390,
 13092,
 50333,
 68332,
 28080,
 43570,
 79453,
 31165,
 44478,
 75217,
 18789,
 64649,
 64616,
 56021,
 28927,
 34575,
 89505,
 14312,
 71289,
 99984,
 27387,
 98974,
 18454,
 75351,
 52379,
 34713,
 96899,
 11432,
 51210,
 41696,
 30143,
 90747,
 83803,
 35208,
 67182,
 96848,
 38212,
 39113,
 27771,
 57175,
 53809,
 52356,
 12789,
 21314,
 61164,
 41656,
 61482,
 91328,
 19484,
 99213,
 85093,
 39939,
 72963,
 72750,
 97532,
 43980,
 24729,
 41965,
 65434,
 19872,
 81534,
 12285,
 23640,
 32185,
 73467,
 62732,
 27372,
 70775,
 26396,
 84720,
 30246,
 50173,
 80474,
 28782,
 93423,
 77875,
 35619,
 32145,
 75225,
 45631,
 48193,
 13444,
 25037,
 64477,
 97522,
 97501,
 59472,
 14180,
 79804,
 15825,
 38974,
 33475,
 40938,
 51200,
 83290,
 46354,
 57434,
 54340,
 54932,
 89557,
 60730,
 29566,
 44304,
 52996,
 42471,
 31680,
 13801,
 34259,
 90482,
 28671,
 95565,
 78465,
 51561,
 35763,
 35930,
 28464,
 82280,
 95469,
 33593,
 31897,
 77531,
 54172,
 10218,
 97987,
 13258,
 79507,
 61136,
 31836,
 86936,
 27983,
 89957,
 78536,
 73450,
 54907,
 19820,
 58173,
 89502,
 64902,
 23548,
 37212,
 56941,
 47962,
 38932,
 93798,
 50605,
 52580,
 87722,
 61124,
 73110,
 16290,
 77281,
 44742,
 56250,
 37296,
 70939,
 76697,
 95656,
 16675,
 83211,
 68703,
 31668,
 73652,
 45569,
 34811,
 55217,
 18741,
 53953,
 31289,
 61350,
 84527,
 49009,
 64455,
 66345,
 88840,
 48607,
 11984,
 22122,
 84699,
 41342,
 85964,
 88939,
 76714,
 77692,
 29323,
 73798,
 81907,
 42270,
 45456,
 86906,
 55690,
 73569,
 69499,
 36703,
 66648,
 90934,
 86562,
 11787,
 19206,
 16444,
 32620,
 87154,
 73729,
 75546,
 87818,
 53508,
 93886,
 15901,
 54518,
 56935,
 99450,
 57113,
 91172,
 73297,
 24750,
 57181,
 11015,
 32595,
 50685,
 31885,
 68877,
 76520,
 31923,
 62134,
 88852,
 70744,
 38992,
 48015,
 29245,
 52023,
 23906,
 94238,
 76797,
 10910,
 78248,
 82402,
 67739,
 78498,
 78302,
 81805,
 18811,
 28231,
 66368,
 18390,
 22759,
 37784,
 81842,
 59711,
 55605,
 44157,
 77449,
 35483,
 18349,
 55846,
 98825,
 58304,
 19918,
 32117,
 83126,
 44498,
 53578,
 64680,
 89159,
 73125,
 66243,
 67005,
 40754,
 37580,
 10033,
 79518,
 48149,
 15554,
 91441,
 77587,
 10846,
 71420,
 32026,
 61465,
 86393,
 80229,
 71919,
 71054,
 74106,
 79713,
 28036,
 84576,
 98014,
 68874,
 75907,
 80384,
 53622,
 16788,
 35531,
 91124,
 56168,
 18550,
 28598,
 49758,
 33529,
 65681,
 27458,
 73169,
 83089,
 79504,
 10944,
 48611,
 53864,
 40490,
 16195,
 19222,
 76049,
 57765,
 45280,
 19030,
 39516,
 99128,
 95671,
 40562,
 32210,
 70461,
 34211,
 16130,
 89041,
 92169,
 70784,
 98412,
 46911,
 59965,
 33151,
 92552,
 47197,
 78786,
 86899,
 67692,
 64090,
 16792,
 89503,
 21522,
 50162,
 51008,
 92111,
 30564,
 90604,
 89869,
 10091,
 67908,
 54893,
 16021,
 94742,
 68532,
 64586,
 57776,
 32098,
 36017,
 56435,
 42792,
 32730,
 90830,
 32227,
 28525,
 34313,
 87791,
 24760,
 74098,
 80989,
 70043,
 19093,
 57681,
 94401,
 44784,
 26707,
 54011,
 93076,
 69633,
 84006,
 65338,
 81024,
 78434,
 82254,
 75770,
 27692,
 96517,
 71560,
 30693,
 77673,
 17425,
 29772,
 97596,
 15845,
 48106,
 36662,
 93184,
 91729,
 69800,
 23557,
 12907,
 95649,
 29025,
 16892,
 49481,
 39173,
 41209,
 70734,
 32001,
 77583,
 76017,
 94987]

In [197]:
# How many total units (the qty column) did the client with the most entries order order?
top_client_id = top_clients_list[0]
total_units_top_client = df[df["client_id"] == top_client_id]["qty"].sum()
total_units_top_client

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [198]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df["line_subtotal"] = df["unit_price"] * df["qty"]
df[["unit_price", "qty", "line_subtotal"]].head(2)

   unit_price  qty  line_subtotal
0     1096.80  105      115164.00
1       24.95   21         523.95

In [199]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
def calc_shipping_price(x):
    if x > 50:
        return x * 7
    elif x <= 50:
        return x * 10
    
df["total_weight"] = df["unit_weight"] * df["qty"]
df["shipping_price"] = [calc_shipping_price(x) for x in df["total_weight"]]
df[["unit_price", "unit_weight", "qty", "total_weight", "shipping_price"]].head(3)

   unit_price  unit_weight  qty  total_weight  shipping_price
0     1096.80         7.50  105        787.50         5512.50
1       24.95         1.49   21         31.29          312.90
2       13.52         1.68   39         65.52          458.64

In [200]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
sales_tax_rate = 0.0925
df["line_price"] = ((df["line_subtotal"] + df["shipping_price"]) * (1 + sales_tax_rate)).round(2)
df[["line_subtotal", "shipping_price", "line_price"]].head(3)

   line_subtotal  shipping_price  line_price
0      115164.00         5512.50   131839.08
1         523.95          312.90      914.26
2         527.28          458.64     1077.12

In [201]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df["line_cost"] = (df["unit_cost"] * df["qty"]) + df["shipping_price"]

df.head(3)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_price,line_price,line_cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18

In [202]:
# Create a column for the profit of each line using line cost and line price
df["line_profit"] = df["line_price"] - df["line_cost"]
df.head(3)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,line_subtotal,total_weight,shipping_price,line_price,line_cost,line_profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.08,85597.05,46242.03
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,31.29,312.90,914.26,629.79,284.47
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,65.52,458.64,1077.12,765.18,311.94

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [203]:
# Check your work using the totals above
order_ids = [2742071, 2173913, 6128929]

for order_id in order_ids:
    calculated_total = df[df["order_id"] == order_id]["line_price"].sum()
    print(f"Order {order_id} total: ${calculated_total:.2f}")

Order 2742071 total: $152811.89
Order 2173913 total: $162388.71
Order 6128929 total: $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [204]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
for client_id in top_clients_list:
    calculated_total = df[df["client_id"] == client_id]["line_price"].sum()
    print(f"{client_id}: ${calculated_total:.2f}")

33615: $8377308.52
66037: $10259514.79
46820: $9743794.36
38378: $12906550.87
24741: $82268892.02
42481: $7478305.34
71958: $14931663.18
32500: $8525901.60
49687: $25892348.48
43607: $12271034.25
84156: $19567017.42
91091: $15174095.50
62566: $15368088.58
37715: $6109455.57
41491: $7950554.43
97876: $8739116.99
80977: $16910899.72
51869: $7394156.24
84446: $5236275.08
89110: $13903411.93
29718: $8925031.45
92201: $12731862.32
78965: $655923670.05
37542: $15495183.37
21654: $6400545.38
14935: $13098525.94
95847: $6476224.43
38473: $183552571.81
48855: $12737794.07
10520: $6969902.97
29992: $5519097.12
57574: $35370314.95
49851: $7019318.87
31715: $8001697.01
16624: $5427092.19
32597: $8287254.01
10559: $7262527.81
43361: $5809959.68
79361: $4604756.83
24007: $5687328.41
35176: $9854461.78
50202: $9370675.40
79827: $12982285.55
72892: $4102931.88
18574: $36027948.56
35794: $9177409.23
16084: $9579881.75
90851: $5425432.50
49037: $9840221.13
17699: $8546617.74
37608: $7781781.78
70745: $5936107.25
38220: $4458737.25
86106: $4137567.53
57920: $4510504.04
81150: $6356437.81
34706: $12322592.07
80857: $4669922.89
10435: $8722369.83
82075: $14265985.53
21474: $4584329.12
81576: $9643576.24
49404: $5405646.15
70029: $15896183.74
65687: $11245178.60
34507: $3826854.87
55191: $3954715.74
94675: $5286432.45
33956: $17092066.90
65748: $9681310.82
58133: $17704881.91
74559: $6242498.73
32549: $15164299.23
69528: $13339350.86
33804: $6326481.85
42550: $2761991.09
41908: $6211367.13
87612: $7231282.93
31229: $4861019.10
19405: $5706774.12
85413: $10354904.85
84344: $106648111.60
71992: $6570371.29
96954: $6649529.81
28331: $6383058.84
47078: $9438042.61
82172: $8976803.42
65819: $51290095.63
79817: $8098018.56
49058: $16363125.51
86810: $6265014.92
12286: $12812497.72
34878: $5588265.85
46709: $5504018.58
73876: $12959102.92
96736: $8973652.66
62639: $3969404.77
94136: $6730080.07
46973: $5634519.67
25119: $13028910.27
61647: $7921035.69
24485: $10952150.18
25185: $7790031.55
84432: $15202440.39
44673: $28734801.95
38192: $7373019.97
77306: $7028341.38
62992: $4078197.21
19904: $3473349.21
97124: $3571126.18
26120: $15684575.85
32240: $3708414.72
10753: $7478845.94
81012: $4815605.85
47930: $11307825.19
54350: $7057547.97
56977: $6489689.98
52678: $9026149.30
73677: $7065272.76
73362: $6472850.06
53348: $6507794.27
87985: $3647612.39
26601: $4828479.63
83686: $3494138.58
22262: $4909538.41
22952: $12833899.65
44699: $11764148.61
42460: $5884970.78
61211: $7296619.45
85152: $4371637.23
24053: $15439729.32
55696: $4584096.95
86721: $181266297.05
17697: $6052711.48
65049: $3082351.04
77184: $6054744.20
71447: $3900787.75
84710: $4662591.17
10643: $5627274.82
80875: $6814858.79
17720: $4273032.00
95108: $23381897.05
37609: $11198765.46
22008: $4640920.92
34873: $5160313.94
16982: $3012474.06
92089: $9860635.58
23919: $5208210.97
67516: $7488749.68
76418: $6754580.48
76087: $3525441.48
56523: $7877502.58
34426: $3981560.59
48410: $3106691.84
85977: $10474672.97
87213: $4580248.43
88149: $4698894.71
13482: $14046415.14
76177: $9315092.60
47507: $7123845.53
54940: $17550157.66
56590: $4264184.38
81719: $3689967.88
73156: $4696680.58
34323: $3572617.14
37214: $2828740.81
47644: $4387124.16
17254: $4454196.43
66328: $5478140.23
32156: $6319953.10
52670: $4760298.16
53409: $4713789.84
30339: $49376339.58
98302: $7643310.76
95003: $12825569.68
69260: $6755586.31
49027: $2391030.16
77340: $3034116.36
86113: $7976836.82
69327: $3675880.83
18145: $3562570.83
87125: $2908969.83
91149: $13078404.59
87473: $3182408.49
81699: $3941382.06
57295: $7278394.05
61935: $4221974.90
62135: $3795429.92
40264: $8583324.90
46191: $2731510.24
98410: $7526680.01
48554: $4217520.62
20875: $4197494.90
21134: $4558689.00
13021: $9914657.25
35902: $4585170.96
20885: $4652283.23
94752: $2607310.56
52709: $28687050.93
13010: $2200086.84
93794: $3418740.45
63691: $4828912.48
66888: $10365890.73
84354: $2271148.35
22101: $3254772.54
92173: $3285058.20
68370: $4729158.11
46363: $3967235.59
75947: $1735570.94
80508: $3507785.69
25374: $12653200.99
11436: $2363317.06
30489: $5779017.45
62227: $100214179.46
92331: $3292918.77
91973: $2314730.98
78447: $3424725.48
19326: $4059591.88
93693: $8987492.16
75118: $10035265.22
72202: $1155115.29
67252: $4355642.29
81778: $9032910.61
69074: $2711310.31
99400: $2418252.31
49457: $3960588.64
48148: $1783913.66
74058: $2719812.44
51173: $4457960.01
43576: $3916743.55
40622: $5208510.35
25114: $3681854.56
41561: $3026108.62
46804: $12589335.54
31268: $23361361.81
44969: $3153519.89
49300: $1519528.06
93818: $2381794.29
64260: $1971975.90
87506: $10209313.76
83552: $9211921.48
69671: $2242540.52
25397: $2478930.75
28011: $3839236.97
44715: $3789023.85
99231: $2368624.35
80891: $9128258.94
51367: $3201564.03
86938: $1931151.72
48540: $1284134.01
47614: $2088679.01
52841: $4160978.81
54196: $1325045.08
87226: $2399152.46
78618: $1705726.30
55336: $1457599.26
22051: $2902672.60
22772: $2079787.16
72247: $3323966.37
20333: $6125525.51
18514: $1819403.42
65084: $3840842.00
90466: $2200489.08
58400: $3270579.05
39141: $1902254.50
90703: $2139366.02
29621: $2723954.47
68577: $1799730.12
50281: $4092465.95
67860: $1435732.31
18452: $2847191.44
18092: $3580706.80
12338: $1837939.19
36531: $2369740.84
86040: $35515974.77
70995: $1566175.12
90641: $3391517.24
25936: $2497012.98
32539: $6355327.43
43968: $2974003.75
50317: $7447673.29
31558: $839503.04
21633: $1783042.04
85931: $237417001.41
51826: $4754262.24
29906: $2185304.41
28523: $5988545.50
86045: $4412218.72
34998: $1510642.62
77354: $71942651.81
11675: $2663029.03
15536: $1338477.34
39965: $4244172.65
80975: $3461566.70
22109: $1598562.55
34514: $2101564.50
64213: $2591728.02
38158: $3148113.81
60527: $3466593.11
22833: $1280273.32
44881: $2240359.86
30369: $2190921.13
54094: $3237661.98
50088: $8571756.02
15318: $1366227.97
53305: $1215738.52
26185: $1614474.35
87975: $1694486.48
79966: $2283972.21
54596: $2209398.96
37937: $6022240.73
57496: $2152964.65
88930: $22436820.19
40457: $59326424.31
91419: $644941.04
98475: $5408454.76
61449: $1828977.41
48723: $3704939.21
33921: $1116843.90
29043: $55064080.69
92744: $7208074.10
65486: $1943627.56
54400: $3757304.89
47752: $4406425.18
74673: $1605747.94
35348: $2005582.69
89081: $3454826.30
56645: $1334019.21
36139: $3331173.03
50111: $1892420.63
28386: $11444571.34
99736: $4558684.38
21317: $990620.75
38626: $1419305.83
16500: $865546.37
82891: $1021326.21
24926: $1183608.86
10351: $1712403.23
20291: $3933566.36
75662: $2757647.70
36557: $7349658.15
35900: $3239599.61
59610: $5004190.80
61603: $1053184.13
94213: $15027186.53
99060: $3066467.54
16279: $2020321.48
46897: $5721955.56
73265: $5309493.86
14557: $936290.28
39382: $1292125.83
67877: $1445486.10
58277: $1491417.97
97577: $1474126.42
71449: $1215044.34
83981: $1868446.45
32783: $1379310.15
16710: $2818212.14
67407: $1746659.84
90654: $2519281.59
89499: $1776914.42
83448: $1767308.82
27516: $12190508.82
95119: $2132164.95
65419: $734881.29
61382: $959680.33
65569: $6527994.36
59765: $2578300.15
39280: $1371010.47
63780: $1889165.95
99394: $809471.46
40749: $4543650.68
38305: $1482406.38
89324: $2560994.67
15647: $943522.87
82386: $7477765.65
38012: $1397808.03
94174: $1784983.16
62559: $900157.97
30367: $3379463.38
58789: $1107622.83
24502: $1003911.11
17646: $1133425.21
85139: $689143.02
46571: $47852884.04
20793: $3354377.99
12269: $2401176.66
94786: $4873127.97
59268: $2138324.28
36023: $3731037.85
18975: $5965328.06
47496: $982785.23
62116: $2065983.10
48342: $788517.02
46547: $4666152.66
26564: $842758.92
61027: $852438.73
39613: $640939.60
29026: $1267124.71
61559: $2325701.38
97017: $1175752.82
44849: $2922066.01
13436: $5428641.33
22670: $773805.00
94420: $819657.15
43090: $4151901.08
79451: $2231158.97
17355: $2660770.89
29579: $2055362.17
61084: $3248651.79
94438: $1879337.67
60955: $977033.14
31753: $1484496.85
85720: $1116515.44
99302: $10753544.31
51158: $2855889.54
33220: $1704306.47
40214: $6817404.38
61844: $33230555.03
87132: $883016.56
41069: $6113904.88
32698: $18391758.48
13616: $3034056.22
19467: $3043247.00
66615: $1020556.63
56274: $4716806.59
79683: $956703.43
24236: $1224744.25
99354: $1624392.29
61161: $792010.12
24889: $6466618.89
50002: $1411362.52
91480: $1630494.96
34847: $8143714.02
78860: $782743.28
97794: $1814118.42
23939: $8020658.33
27302: $1572614.33
82336: $3709393.57
64194: $1152074.21
55552: $1721745.39
14881: $1683585.88
90079: $1172316.70
82931: $2247364.27
72694: $1332219.20
36284: $6651353.48
49743: $2431776.91
61058: $1436177.94
22890: $1570932.46
61110: $2397388.01
64563: $571685.71
23041: $1192414.60
47061: $1700259.46
52885: $1869595.53
43867: $971125.60
84878: $1815725.27
57134: $1766684.01
31279: $1099811.80
30272: $3045579.93
47153: $3089540.79
52037: $12753615.70
78733: $8275213.05
97026: $1475518.36
44795: $3672232.15
86487: $7064568.48
94475: $797395.29
37231: $3103445.57
99973: $983748.40
61197: $3039992.89
18800: $1487454.01
54471: $1706691.13
67852: $2631443.90
11869: $2567723.16
30026: $2540862.77
58799: $2113023.68
97623: $961230.71
98291: $537203.83
74112: $1755307.59
83238: $2891735.03
20849: $19845463.30
73175: $1080326.67
44807: $1843728.30
40677: $43067185.39
30827: $2178218.12
46661: $8867171.97
18074: $961058.46
35467: $4393641.90
41738: $9713624.12
79755: $1967308.78
84535: $1921384.57
68227: $1459281.12
49451: $1186302.67
63806: $1992015.79
16974: $2653475.15
11444: $1066756.26
92057: $8283696.30
77592: $2256041.72
38167: $3821068.41
34271: $545244.92
96713: $1710064.65
53993: $6324186.42
25639: $2011394.80
19800: $14257184.03
32232: $1633060.35
57148: $1070653.25
61560: $1299630.87
37432: $2545184.17
63354: $764443.61
92936: $1189647.38
95944: $1115473.06
88326: $2565981.48
55914: $947543.67
56343: $1237219.12
50377: $1251350.24
69437: $976937.54
58515: $659804.11
82314: $4573393.68
99043: $13771233.73
88237: $1034903.85
29940: $933563.21
22859: $1500422.33
11890: $1975785.32
16568: $847211.32
30509: $1869033.99
41766: $1807116.62
17002: $1783210.11
31733: $1825969.93
73153: $762436.58
38760: $1045875.98
84429: $4851107.09
81490: $1095279.62
51839: $6199964.08
67328: $690398.97
19062: $5425890.08
44148: $1450922.73
30994: $2750206.01
94774: $964495.24
73797: $909577.43
61797: $921572.06
57283: $2899714.90
79313: $320200.35
98561: $3043959.79
27114: $1797802.23
92721: $1974340.42
88257: $1942969.94
85369: $907556.78
85298: $459827.28
40610: $4600812.38
15805: $1797091.83
81912: $1014159.55
87556: $598238.70
83646: $2582019.69
51629: $776583.62
27617: $1223893.39
74643: $3046008.13
42298: $1199171.34
88009: $765981.47
46554: $4292203.45
88685: $1897459.00
48013: $1455342.68
27079: $3976505.40
30306: $9567713.26
62315: $1619870.33
33367: $1287795.74
36393: $527608.01
40835: $2216708.37
48877: $1199259.49
25942: $799132.45
25535: $2364355.50
45395: $2366308.68
65030: $3169579.29
20820: $1001848.35
29238: $4241000.73
71600: $2582573.03
57669: $822175.95
54740: $1193679.24
12028: $5961236.59
71188: $2569641.31
69701: $1656148.87
59566: $591599.51
35929: $3206130.36
71981: $813895.54
93900: $1479200.02
68464: $1387652.48
79329: $3636474.54
62380: $1114030.86
81533: $2721174.89
70781: $749631.72
74236: $2062715.15
57762: $1335622.91
74159: $930612.63
55398: $627954.54
91809: $700357.55
99390: $12169389.12
13092: $1583663.21
50333: $5674705.59
68332: $2295852.35
28080: $914847.74
43570: $476114.73
79453: $1381930.58
31165: $2987130.81
44478: $1605273.26
75217: $3243066.10
18789: $51720667.50
64649: $4596888.89
64616: $974812.39
56021: $809597.39
28927: $7513756.90
34575: $1849700.06
89505: $1195865.14
14312: $1073606.81
71289: $2176812.23
99984: $18704140.50
27387: $3705423.03
98974: $453439.24
18454: $4862884.04
75351: $1033980.31
52379: $1396176.72
34713: $2181096.83
96899: $2202545.77
11432: $10418537.51
51210: $1912054.23
41696: $593415.32
30143: $33328849.85
90747: $856795.34
83803: $6461460.11
35208: $1468611.83
67182: $3677543.95
96848: $1781215.82
38212: $523240.02
39113: $5792796.05
27771: $1306044.00
57175: $564136.93
53809: $383736.39
52356: $861672.85
12789: $1425225.57
21314: $354324.02
61164: $3009099.51
41656: $83969580.93
61482: $779501.86
91328: $2843451.18
19484: $10852252.66
99213: $2906406.65
85093: $733767.63
39939: $973684.10
72963: $15204863.91
72750: $1561833.80
97532: $1037701.95
43980: $1589762.20
24729: $1399505.18
41965: $985709.62
65434: $1584330.81
19872: $8934141.81
81534: $1242843.03
12285: $3714720.69
23640: $819192.03
32185: $1099818.13
73467: $1485552.80
62732: $435222.74
27372: $1469403.49
70775: $6279700.80
26396: $4038640.15
84720: $1035948.73
30246: $1164354.23
50173: $1508825.30
80474: $1021161.64
28782: $848755.13
93423: $1342748.00
77875: $671435.22
35619: $3438490.48
32145: $2563116.00
75225: $1279649.75
45631: $2725402.86
48193: $14155729.28
13444: $3525654.53
25037: $764816.14
64477: $1690755.03
97522: $1234603.48
97501: $1418442.78
59472: $795817.94
14180: $1222861.48
79804: $830859.87
15825: $394140.15
38974: $21286669.06
33475: $994348.06
40938: $516150.75
51200: $1101491.07
83290: $1210825.47
46354: $1299118.78
57434: $1938104.32
54340: $1527105.23
54932: $708042.38
89557: $2127004.08
60730: $7488815.46
29566: $671282.10
44304: $10546947.19
52996: $1046715.85
42471: $1186808.41
31680: $1059726.96
13801: $410004.74
34259: $714959.84
90482: $884220.96
28671: $451750.72
95565: $1519305.12
78465: $1369003.68
51561: $37120151.58
35763: $1761217.46
35930: $635556.43
28464: $760506.31
82280: $628902.03
95469: $435740.76
33593: $569425.88
31897: $2828937.20
77531: $681893.01
54172: $654185.65
10218: $3683119.77
97987: $658173.70
13258: $2372896.15
79507: $1156804.85
61136: $464767.25
31836: $1892979.35
86936: $1779579.26
27983: $307018.05
89957: $960522.72
78536: $1100947.46
73450: $597595.85
54907: $8058893.30
19820: $1150377.89
58173: $426959.28
89502: $837680.91
64902: $973547.83
23548: $3256589.01
37212: $1153213.44
56941: $537056.43
47962: $2755402.89
38932: $638674.76
93798: $767865.84
50605: $1251984.99
52580: $1444454.10
87722: $1141296.74
61124: $386505.28
73110: $1704093.94
16290: $623286.41
77281: $706240.23
44742: $638143.50
56250: $380351.01
37296: $2185283.11
70939: $620006.42
76697: $11159687.86
95656: $1589201.95
16675: $11929783.59
83211: $732990.83
68703: $1111463.95
31668: $1630913.93
73652: $1115922.91
45569: $770744.72
34811: $550040.01
55217: $480180.14
18741: $5322831.61
53953: $1611530.27
31289: $753406.29
61350: $437421.04
84527: $460082.91
49009: $399817.93
64455: $514570.96
66345: $1948224.73
88840: $2506428.70
48607: $957991.89
11984: $8143686.80
22122: $642607.91
84699: $407945.34
41342: $1100462.33
85964: $685271.31
88939: $669904.32
76714: $760405.55
77692: $234310.42
29323: $803700.00
73798: $1005301.17
81907: $655526.88
42270: $337930.15
45456: $674618.99
86906: $471451.66
55690: $983545.77
73569: $913738.43
69499: $733761.30
36703: $596043.17
66648: $571740.97
90934: $941067.86
86562: $1074491.79
11787: $1489770.99
19206: $574212.67
16444: $518002.65
32620: $683636.11
87154: $2663191.14
73729: $1818953.72
75546: $711473.88
87818: $450245.72
53508: $2565995.30
93886: $1511164.22
15901: $552475.99
54518: $489544.75
56935: $1504359.51
99450: $1063754.03
57113: $896845.25
91172: $1630154.20
73297: $3195769.34
24750: $1983820.35
57181: $1276584.48
11015: $930186.49
32595: $10881142.90
50685: $431438.10
31885: $1002141.86
68877: $930174.98
76520: $6050184.44
31923: $588909.18
62134: $388907.35
88852: $517791.24
70744: $825290.01
38992: $598143.11
48015: $1030039.95
29245: $930588.17
52023: $2605071.02
23906: $859450.81
94238: $620816.43
76797: $3634257.70
10910: $500017.59
78248: $714256.51
82402: $611253.37
67739: $1401984.51
78498: $695044.94
78302: $660075.91
81805: $318144.59
18811: $911011.76
28231: $361674.22
66368: $769930.16
18390: $280526.18
22759: $1198304.12
37784: $494460.78
81842: $1796132.58
59711: $6799427.82
55605: $497585.06
44157: $311273.12
77449: $631046.67
35483: $1204147.41
18349: $544962.21
55846: $333667.22
98825: $723842.68
58304: $884267.75
19918: $253287.22
32117: $371526.91
83126: $324633.20
44498: $1200756.39
53578: $1159693.86
64680: $553604.59
89159: $1025716.86
73125: $654208.60
66243: $611992.29
67005: $317911.24
40754: $1637539.02
37580: $588184.81
10033: $689274.95
79518: $1124086.28
48149: $1075121.18
15554: $876219.21
91441: $535944.73
77587: $1170879.68
10846: $434653.36
71420: $4082058.09
32026: $187591.38
61465: $524817.66
86393: $1698658.47
80229: $732660.67
71919: $2457042.14
71054: $428552.08
74106: $289320.13
79713: $5330688.32
28036: $532776.60
84576: $3939420.42
98014: $12982641.54
68874: $1724030.31
75907: $260267.23
80384: $5067861.89
53622: $171638.47
16788: $455868.32
35531: $439929.84
91124: $780599.56
56168: $512694.68
18550: $568329.45
28598: $620330.76
49758: $416912.20
33529: $463507.67
65681: $284980.35
27458: $1315337.85
73169: $4190213.69
83089: $268772.31
79504: $315788.66
10944: $308252.36
48611: $766721.81
53864: $231132.28
40490: $2539445.00
16195: $415471.89
19222: $730914.45
76049: $2744359.86
57765: $1226987.98
45280: $1460951.71
19030: $353494.24
39516: $773337.70
99128: $248363.97
95671: $188733.07
40562: $507703.32
32210: $744913.48
70461: $180033.24
34211: $1463128.39
16130: $263361.77
89041: $380039.10
92169: $691588.75
70784: $742552.78
98412: $662807.57
46911: $320915.76
59965: $261520.86
33151: $507304.46
92552: $2516133.79
47197: $183794.73
78786: $326821.08
86899: $226508.02
67692: $1035320.34
64090: $340996.29
16792: $1239347.19
89503: $213431.92
21522: $262793.83
50162: $800038.95
51008: $411787.62
92111: $1250887.37
30564: $655831.46
90604: $11046721.12
89869: $936672.52
10091: $1825072.92
67908: $338826.48
54893: $148060.10
16021: $82631.98
94742: $1571085.78
68532: $221536.90
64586: $2002640.69
57776: $250796.91
32098: $342189.00
36017: $305790.15
56435: $147097.61
42792: $233988.09
32730: $519147.44
90830: $146830.71
32227: $266403.21
28525: $3970769.36
34313: $382866.29
87791: $312655.34
24760: $1101232.73
74098: $553236.66
80989: $357166.60
70043: $126836.59
19093: $200689.76
57681: $806315.30
94401: $760013.45
44784: $147051.67
26707: $287050.76
54011: $1052141.05
93076: $903258.74
69633: $416531.01
84006: $80463.19
65338: $171750.75
81024: $127649.77
78434: $157946.62
82254: $104613.57
75770: $483446.58
27692: $3579979.55
96517: $235904.21
71560: $136717.23
30693: $1075514.73
77673: $238468.82
17425: $100176.93
29772: $101728.12
97596: $717886.33
15845: $37320.52
48106: $39222.39
36662: $159883.57
93184: $12324009.45
91729: $211389.05
69800: $160631.35
23557: $1177572.49
12907: $1294066.99
95649: $69053.83
29025: $266531.94
16892: $52304.22
49481: $327748.07
39173: $239546.00
41209: $143683.58
70734: $70474.85
32001: $76661.92
77583: $17212.14
76017: $44007.42
94987: $60529.72

In [205]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
summary_df = pd.DataFrame([
    {
        "client_id": client_id,
        "qty": df[df["client_id"] == client_id]["qty"].sum(),
        "shipping_price": df[df["client_id"] == client_id]["shipping_price"].sum(),
        "line_price": df[df["client_id"] == client_id]["line_price"].sum(),
        "line_cost": df[df["client_id"] == client_id]["line_cost"].sum(),
        "line_profit": df[df["client_id"] == client_id]["line_profit"].sum()
    }
    for client_id in top_clients_list
])
summary_top_5_df = summary_df.head()

In [206]:
# Format the data and rename the columns to names suitable for presentation.

# Define the money columns. 
money_columns = ["shipping_price", "line_price", "line_cost", "line_profit"]

# Define a function that converts a dollar amount to millions.
def convertDollarsToMillions(amount):
    return amount / 1_000_000

# Apply the currency_format_millions function to only the money columns. 
for column in money_columns:
    summary_top_5_df[column] = summary_top_5_df[column].apply(convertDollarsToMillions)

# Rename the columns to reflect the change in the money format. 
reorg_df = summary_top_5_df.rename(columns={
    "client_id": "Client ID",
    "qty": "Units",
    "shipping_price": "Shipping (millions)",
    "line_price": "Total Revenue (millions)",
    "line_cost": "Total Cost (millions)",
    "line_profit": "Total Profit (millions)"
})

reorg_df.head()

C:\Users\T\AppData\Local\Temp\ipykernel_24336\3460404976.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  summary_top_5_df[column] = summary_top_5_df[column].apply(convertDollarsToMillions)

,Client ID,Units,Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
0,33615,64313,1.828985,8.377309,6.175314,2.201995
1,66037,43018,1.395152,10.259515,7.004483,3.255032
2,46820,75768,1.601449,9.743794,7.007192,2.736603
3,38378,73667,3.429455,12.906551,9.634721,3.271830
4,24741,239862,5.126448,82.268892,45.688900,36.579992

In [207]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
sorted_df = reorg_df.sort_values("Total Profit (millions)", ascending=False)
sorted_df.head()

# Based on the data analysis and manipulations performed, Client 24741 emerged as the most profitable, generating a total profit of approximately $36.58 million. 
# This client also demonstrated the highest revenue at around $82.27 million.

,Client ID,Units,Shipping (millions),Total Revenue (millions),Total Cost (millions),Total Profit (millions)
4,24741,239862,5.126448,82.268892,45.688900,36.579992
3,38378,73667,3.429455,12.906551,9.634721,3.271830
1,66037,43018,1.395152,10.259515,7.004483,3.255032
2,46820,75768,1.601449,9.743794,7.007192,2.736603
0,33615,64313,1.828985,8.377309,6.175314,2.201995